<p-toast position="top-center" key="toastElement"></p-toast>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>Reset Your Password</h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="../../assets/reset-password-icon-29.jpg"
        id="icon"
        alt="Resetpassword Icon Icon"
      />
    </div>

    <form ngForm #ref="ngForm"></form>

    <!-- Login Form -->
    <form ngForm #ref="ngForm" (ngSubmit)="onSubmit(ref.value); ref.reset()">
      <input
        type="password"
        id="password"
        class="fadeIn second"
        name="password"
        placeholder="New Password*"
        ngModel
        required
        #password="ngModel"
      />

      <input
        type="password"
        id="confirmpassword"
        class="fadeIn second"
        name="confirmPassword"
        placeholder="Confirm New Password*"
        ngModel
        required
      />

      <input type="submit" class="fadeIn fourth" value="Reset Password" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="v1/login">Back to Login</a>
    </div>
  </div>
</div>
