<p-toast position="top-center" key="toastElement"></p-toast>

<div class="container-fluid">
  <div class="container">
    <div class="outer-table">
      <tr>
        <div class="row p-4">
          <!--first card-->
          <div class="col-sm-4">
            <div class="card" style="width: 18rem; height: 25rem">
              <img
                class="card-img-top"
                [src]="presentMentorImageUrl"
                alt="Card image cap"
              />
              <div class="card-body" style="text-align: center">
                <h3 class="card-title">
                  <h4>{{ presentMentor?.Id }}</h4>
                </h3>
                <h5>{{ presentMentor?.department }}</h5>
              </div>
            </div>
          </div>

          <!--second card-->
          <div class="col-sm-8">
            <div class="row">
              <div class="col-12">
                <div class="card p-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <b>Name</b>
                      </div>
                      <div class="col-md-6">
                        <p>{{ presentMentor?.name }}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <b>E-mail</b>
                      </div>
                      <div class="col-md-6">
                        <p>{{ presentMentor?.email }}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <b>Phone no</b>
                      </div>
                      <div class="col-md-6">
                        <p>{{ presentMentor?.phone }}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <b>Gender</b>
                      </div>
                      <div class="col-md-6">
                        <p>{{ presentMentor?.gender }}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <b>Status</b>
                      </div>
                      <div class="col-md-6">
                        <p>{{ presentMentor?.status }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row p-3">
                  <div class="col-6">
                    <div class="card p-2">
                      <div class="row">
                        <div class="col-md-6">
                          <b>HOD Name</b>
                        </div>
                        <div class="col-md-6">
                          <p>{{ presentHod?.name }}</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <b>HOD E-mail</b>
                        </div>
                        <div class="col-md-6">
                          <p>{{ presentHod?.email }}</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <b>HOD Phone no</b>
                        </div>
                        <div class="col-md-6">
                          <p>{{ presentHod?.phone }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>

      <tr>
        <div class="row p-3">
          <div class="col-6">
            <h6>{{ presentMentor?.name }}'s Outpasses</h6>
            <p-chart
              type="pie"
              [data]="employeeOutPassPiedata"
              style="position: relative; height: auto"
            ></p-chart>
          </div>
          <div class="col-6">
            <h6>{{ presentMentor?.name }}'s Mentee's Acceptance status</h6>
            <p-chart
              type="pie"
              [data]="employeePerformancePiedata"
              style="position: relative; height: auto"
            ></p-chart>
          </div>
        </div>
      </tr>
    </div>
  </div>
</div>
