<p-toast position="top-center" key="toastElement"></p-toast>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>CHANGE YOUR PASSWORD</h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="../../../assets/changepasword.jpg"
        id="icon"
        alt="Forgotpassword Icon"
      />
    </div>

    <!-- Login Form -->
    <form ngForm #ref="ngForm" (ngSubmit)="onSubmit(ref.value); ref.reset()">
      <input
        type="password"
        id="currentpassword"
        class="fadeIn second"
        name="currentPassword"
        placeholder="Current Password*"
        ngModel
        required
        #currentPassword="ngModel"
      />

      <!-- materror -->
      <mat-error *ngIf="currentPassword.touched && currentPassword.invalid">
        <p class="mat-body-1">Current Password is mandatory</p>
      </mat-error>

      <input
        type="password"
        id="newpassword"
        class="fadeIn second"
        name="newPassword"
        placeholder="New Password*"
        ngModel
        required
        #newPassword="ngModel"
      />

      <mat-error *ngIf="newPassword.touched && newPassword.invalid">
        <p class="mat-body-1">New Password is mandatory</p>
      </mat-error>

      <input
        type="password"
        id="confirmnewpassword"
        class="fadeIn second"
        name="confirmnewPassword"
        placeholder="Confirm New Password*"
        ngModel
        required
        #confirmnewPassword="ngModel"
      />

      <mat-error
        *ngIf="confirmnewPassword.touched && confirmnewPassword.invalid"
      >
        <p class="mat-body-1">Confirm New Password is mandatory</p>
      </mat-error>

      <mat-error
        *ngIf="
          confirmnewPassword.touched &&
          newPassword.touched &&
          newPassword.value != confirmnewPassword.value
        "
      >
        <p class="mat-body-1">Passwords dont match!!</p>
      </mat-error>

      <p class="mat-body-1">Password should contain</p>
      <p class="mat-body-1">
        1. Atleast one UpperCase, 2. Atleast one Lowercase, 3. Atleast one
        sepcial character, 4. Atleast one Digit, 5. Atleast 8 characters long
      </p>

      <input type="submit" class="fadeIn fourth" value="Change Password" />
    </form>
  </div>
</div>
