<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="accent"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home"><mat-icon>home</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="requestoutpass"
        ><mat-icon>calendar_today</mat-icon>Request outpass</a
      >
      <a mat-list-item routerLink="viewoutpass"
        ><mat-icon>visibility</mat-icon>View outpasses</a
      >
      <a mat-list-item routerLink="profile"
        ><mat-icon>account_circle</mat-icon>Profile</a
      >
      <a mat-list-item routerLink="mystudents"
        ><mat-icon>people</mat-icon>My Students</a
      >
      <a mat-list-item routerLink="changepassword"
        ><mat-icon>lock</mat-icon>Change Password</a
      >
      <a mat-list-item (click)="logOut()"
        ><mat-icon>exit_to_app</mat-icon>Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GATIZEE - VNR VJIET</span>
      <span class="spacer"></span>

      <ul>
        <li>
          <a mat-button (click)="onDashBoardClick()"
            ><mat-icon>person</mat-icon>{{ presentEmployee.name }}</a
          >
        </li>
      </ul>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
