@media only screen and (min-width: 600px) {
  .container {
    padding: 1% 12% 0% 12%;
  }
}

textarea {
  resize: none;
}

.form-label {
  padding: 3px;
  font-size: 12px;
  color: #5e9bfc;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}
.form-control {
  border-radius: 10px;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}

.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999;
}
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}
.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
  border-color: #5e9bfc;
  color: #5e9bfc;
}

.form-group input {
  background-color: white;
}

.select-class {
  width: 100%;
}

.select-class {
  color: white;
}

.date-class {
  width: 60%;
}

.close-class {
  text-align: end;
}

.close-class button {
  background-color: whitesmoke;
  color: darkgray;
}

.form-class {
  padding: 0% 3% 0% 3%;
}

.return-time {
  background-color: blue;
}

@media only screen and (min-width: 600px) {
  .form-class {
    padding: 2% 15% 0% 15%;
  }
}
