<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/login"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/scanner"
          >scanner</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/forgotpassword"
          >Forgot Password</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/resetpassword/:passwordresettoken"
          >Reset Password</a
        >
      </li>
    </ul>
  </div>
</nav> -->

<div>
  <router-outlet></router-outlet>
</div>

<!-- <qrcode [qrdata]="qrdata" [width]="1024" [level]="'L'"></qrcode> -->
<qrcode [qrdata]="qrdata" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>

<!-- <p-fileUpload name="file" url="http://localhost:8000/api/v1/student/requestoutpass"
        accept="image/*,.pdf,.doc"  (onUpload)="myUploader($event)"></p-fileUpload>

<p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
,limits:{fileSize:maxFileSize} -->
