<p-toast position="top-center" key="toastElement"></p-toast>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="240px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.rank == 1">
            <table class="table">
              <tbody>
                <tr class="table-row1">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr class="table-row1">
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr class="table-row1">
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="card.rank == 2">
            <table class="table">
              <tbody>
                <tr class="table-row2">
                  <th scope="row">College Id</th>
                  <td>17071A0578</td>
                </tr>
                <tr class="table-row2">
                  <th scope="row">Name</th>
                  <td>Akhil Dharavath</td>
                </tr>
                <tr class="table-row2">
                  <th scope="row">Department</th>
                  <td>CSE</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="card.rank == 3">
            <table class="table">
              <tbody>
                <tr class="table-row2">
                  <th scope="row">Mentor name</th>
                  <td>Gnana Prakash</td>
                </tr>
                <tr class="table-row2">
                  <th scope="row">Contact details</th>
                  <td>8452621579</td>
                </tr>
                <tr class="table-row2">
                  <th scope="row">Email</th>
                  <td>gnanaprakash@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="card.rank == 4">
            <table class="table">
              <tbody>
                <tr class="table-row2">
                  <th scope="row">HOD name</th>
                  <td>Gnana Prakash</td>
                </tr>
                <tr class="table-row2">
                  <th scope="row">Contact details</th>
                  <td>8452621579</td>
                </tr>
                <tr class="table-row2">
                  <th scope="row">Email</th>
                  <td>gnanaprakash@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="card.rank == 5">
            <p-chart
              type="pie"
              [data]="piedata"
              style="position: relative; height: auto"
            ></p-chart>
          </div>
          <div *ngIf="card.rank == 1" class="text-center">
            <button mat-raised-button (click)="morebtnfun()" class="more-btn">
              <mat-icon>expand_more</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
