<p-toast position="top-center" key="toastElement"></p-toast>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>Forgot Password?</h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="../../assets/forgotpassword.png"
        id="icon"
        alt="Forgotpassword Icon Icon"
      />
    </div>
    <h3>
      Dont worry.Please Enter your Id and we will send Reset password Link to
      your registered Email Id.
    </h3>

    <!-- Login Form -->
    <form
      ngNativeValidate
      #ref="ngForm"
      (ngSubmit)="onSubmit(ref.value); ref.reset()"
    >
      <input
        type="text"
        id="id"
        class="fadeIn second"
        name="Id"
        placeholder="Id"
        ngModel
        required
      />

      <input type="submit" class="fadeIn fourth" value="Submit" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="v1/login">Back to Login</a>
    </div>
  </div>
</div>
